*.o
*.lo
*.la
*.dylib
*.so
.deps
.libs
Doxyfile
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
umem.spec
umem_test
umem_test2
umem_test3
*.core
